@model BulkyBook.Models.ViewModels.ProductListVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form asp-controller="Home" asp-action="Index" method="get">
        <h6>
            Category:
            <select class="mr-3" asp-for="Category" asp-items="Model.CategoryList">
                <option value="">All</option>
            </select>

            Title: <input type="text" asp-for="SearchString" />
            <input class="btn btn-primary rounded m-3" id="ticketFilterBtn" type="submit" value="Filter" />
        </h6>
    </form>
</div>
<div class="row pb-3">
    @foreach (var product in Model.Products)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                    <div class="card">
                        <img width="250" height="350" src="@product.ImageUrl" class="card-img-top rounded" />

                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h5 text-primary">@product.Title</p>
                                <p class="card-title text-info">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                            </div>
                            <div class="pl-1">
                                <p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
                            </div>
                            <div class="pl-1">
                                <span class="badge rounded-pill bg-primary">@product.Category.Name</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div> 